body {
  background-color: #f9c47e;
}

header {
  text-align: center;
}

header p {
  margin: -20px 0 0 270px;
  font-size: 12px;
  color: #333;
}

header a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dotted;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.to-devour {
}

.devour-it {
  width: 300px;
  padding: 20px;
  float: left;
}

.devour-btn-form {
  width: 100px;
}

.devour-it-btn {
  padding: 8px 10px;
}

.devour-it {
  border: 1px solid;
  background: #788ea6;
}

.devoured {
  width: 300px;
  float: right;
  outline: solid #333;
}

.add-a-burger {
  clear: both;
  text-align: center;
}